/* 引入外部样式表 */
@import 'adapter.less';
@import 'base.less';

// 正方体的宽高
@cube : 300rem/32;
@cubeHalf :300rem/64;

// 标题高
@headHeight : 80rem/32;
//头部栏
.header{
    // transform:translate(400rem/32,0);
    width: 100%;
    // height: @headHeight;
    position: fixed;
    top: 0;
    left: 0;
    transition:all 0.5s 0.1s;
    transform:translate(0);
    z-index:3;
    .left {
        position: absolute;
        top: 16rem/32;
        left: 38rem/32;
    }
    h2{
        height: @headHeight;
        width: 100%;
        line-height:@headHeight;
        // padding: 0 100rem/32;
        font-size:30rem/32;
        text-align:center;
        background-color: #fff;
        // margin-left:-10px;
        // margin:0;
    }
    // 列表头
    .list-name {
        height: 80rem/32;
        width: 100%;
        background-color:#F6F6F6;
        background-color: #EB354C ;
        border-top:#D2D2D2 solid 1px;
        border-bottom:#D2D2D2 solid 1px;
        border-left:#D2D2D2 solid 1px;
        // overflow:hidden;
        h3 {
            height: 80rem/32;
            line-height:80rem/32;
            text-align:center;
            color:#EB354C ;
            color:#fff;
            margin:0;
            // font-size:30rem/32;
        }

    }
}
// 列表项
.content {
    transform:translate(0);
    transition:all 0.5s 0.1s;
    // margin-top :@headHeight + 80rem/32;
    .lists {
        //列表内容
        height: 1128rem/32;
        overflow:auto;
        .lists-con{
            margin-top:80rem/32+ @headHeight;
            padding:20rem/32;
            a{
                display: block;
                font-size:30rem/32;
                padding:30rem/32;
                border-bottom:#D2D2D2 solid 1px;
                white-space:nowrap;
                color:#000;
                over-flow:hidden;
                position: relative;

                span{
                    font-size:20rem/32;
                    position: absolute;
                    right:20rem/32;
                    bottom:10rem/32;
                }
            }
            li:nth-child(2n){
                background-color:#F9F9F9;
            }
        }
    }
}
//左侧隐藏列表
.aside{
    height: 100%;
    width: 400rem/32;
    transform:translate(-400rem/32);
    transition:all 0.5s 0.1s;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2D2E40;

    .portrait {
        height: 140rem/32;
        width: 140rem/32;
        background:url(../images/portrait.jpg) no-repeat center;
        background-size:140rem/32;
        border-radius:50%;
        margin:40rem/32 auto;
    }
    .navs {
        // background-color: red;
        ul {

            a {
                height: 80rem/32;
                line-height:80rem/32;
                padding-left:40rem/32;
                display: block;
                color:#6A6B7D;
            }
            li:first-child{
                background-color:#EB354C ;
                a,i{
                    color:white;
                }
            }
        }
    }
}
.moveout{
    transform:translate(400rem/32);
    width: 230rem/32;
    overflow:hidden;
    h2 {
        color:#fff;
    }
    .lists .lists-con span{
        display:none;
    }
}
.moveto {
    transform:translate(0);
}

